//variables
@import 'variables';

.contenedor--main{
    display: map-get($map: $cont3C3R, $key:'grid' );
    grid-template-columns: map-get($map: $cont3C3R, $key:'columns' );
    grid-template-rows: map-get($map: $cont3C3R, $key:'rows' );
    grid-template-areas: "presupuesto presupuesto presupuesto"
                         "aire heladera freezer"
                         "camara auto vertodo";
    grid-column-gap: map-get($map: $cont3C3R, $key:'gapCol' );
    grid-row-gap: map-get($map: $cont3C3R, $key:'gapRow' );
}
.contenedorAires{
    @extend .contenedor--main;
    grid-template-areas: "presupuesto presupuesto presupuesto"
                         "a25k a3k a35k"
                         "a4k a5k a6k";
}
.presupuesto{
    display: map-get($map: $centrar, $key: 'flex');
    justify-content: map-get($map: $centrar, $key: 'centro' );
    align-items: map-get($map: $centrar, $key: 'centro');
    grid-area: presupuesto;
}
//animacion
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.fueraAire{
    display: map-get($map: $centrar, $key:'flex' );
    justify-content:map-get($map: $centrar, $key: 'final');
}
.aire{
    grid-area: aire;
    max-width: fit-content;
}
.fueraHeladera{
    display: map-get($map: $centrar, $key:'flex' );
    justify-content: map-get($map: $centrar, $key: 'centro');
}
.heladera{
    grid-area: heladera;
    max-width: fit-content;
}
.fueraFreezer{
    display: map-get($map: $centrar, $key:'flex' );
    justify-content: map-get($map: $centrar, $key: 'comienzo');
}
.freezer{
    grid-area: freezer;
    max-width: fit-content;
}
.fueraCamara{
    @extend .fueraAire;
}
.camara{
    grid-area: camara;
    max-width: max-content;
}
.fueraAuto{
    @extend .fueraHeladera;
}
.auto{
    grid-area: auto;
    max-width: max-content;
}
.fueraVertodo{
    @extend .fueraFreezer;
}
.vertodo{
    grid-area: vertodo;
    max-width: max-content;
}
.a25k{
    @extend .fueraAire;
}
.dentro25k{
    grid-area: a25k;
    max-width: fit-content;
}
.a3k{
    @extend .fueraHeladera;
}
.dentro3k{
    grid-area: a3k;
    max-width: fit-content;
}
.a35k{
    @extend .fueraFreezer;
}
.dentro35k{
    grid-area: a35k;
    max-width: fit-content;
}
.a4k{
    @extend .fueraAire;
}
.dentro4k{
    grid-area: a4k;
    max-width: fit-content;
}
.a5k{
    @extend .fueraHeladera;
}
.dentro5k{
    grid-area: a5k;
    max-width: fit-content;
}
.a6k{
    @extend .fueraFreezer;

}
.dentro6k{
    grid-area: a6k;
    max-width: fit-content;
}