//variables
@import 'variables';

@import 'menu';

@import 'sobreNosotros';

@import 'footer';

@import 'preguntas';

@import 'mediumDisplay';

@import 'nav';
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(246, 247, 235, 1);
}
body{
    width: 100%;
}

.contenedorAires{
    a{
        img{
            border-radius: 10px;
        }
    }
}
.presupuesto{
    a{
        img{
            width: 100%;
        }
    }
}

